<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="js/bootstrap.js"></script>


</head>
<body>

    <% include Header %>

<div class="container-fluid" style="background-color:#FAFAFA; ">
  <div class="row">
    <div class="col-sm-4" >
    
    </div>
      
    <div class="col-sm-4">
     
     <div class="container-fluid" style="margin-top:80px; background-color:white; margin-bottom:50px">
     <div style="margin-top:20px; margin-bottom:5px">
     <h2 style="display:inline; font-weight:200">Sign in</h2>&nbsp;&nbsp;&nbsp;<span style="top:0px;font-size:20px;color:#6b6767; border-color:#6b6767;" class="glyphicon glyphicon-lock">     </span>
     </div>
 
     <p class="non-member"> Not a member? <a class="" href="#">Fill a form</a></p>
  <form action="/" style="margin-bottom:20px">
  <br>
    <div class="form-group">
      <label for="email" class="form-label" >Username:</label><span class="text-danger">*</span>
      <input  class="form-control" id="email" placeholder="Your username" name="email" required>
    </div>
    <div class="form-group">
      <label for="pwd" class="form-label">Password:</label><span class="text-danger">*</span>
      <p class="non-member1"> <a href="#">Forgot your password?</a></p>
      <input type="password" class="form-control" id="pwd" placeholder="Your password" name="pwd" required>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
   </form>
   
     </div> <!--end of container-->
    </div> <!--end of column 6-->
    
    
    <div class="col-sm-4">
      
    </div>
    
   </div>  <!--end of row-->
</div> <!--end of container-->









<div class=" container-fluid footer" style="background-color:#2e6da4;" >
<div class="container">
  <div class="row" style="margin-top:60px;">
    <div class="col-sm-3" style="">
    <p class="footer-text1"> Event Meet</p>

    
    <p class="footer-text2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in </p>
  
    <p>	 <a href="#" class="btn btn-danger"> Read more</a></p>
 
 
 
    </div>
    
     
    <div class="col-sm-3">
    

      
       <p class="footer-text1">Quick Links</p>
     
     <ul>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Home</a></li>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Privacy</a></li>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Policy</a></li>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Help</a></li>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Terms of Service</a></li>
    <li style="margin-bottom:7px;"><a href="#">&raquo; Sitemap</a></li>
  
  </ul>
     

    </div>
    
    
     <div class="col-sm-3">
     
           <p class="footer-text1">Contact Us</p>
           <p><strong>Address:</strong> abc, mnjh(Onbvj)</p>
           <p><strong>Email:</strong> mnhsgsj@jkdkdjskd.com</p>
           <p><strong>Phone:</strong> +91-0000000000</p>
    </div>
    
      <div class="col-sm-3">
      
      
     <p class="footer-text1">Connect with us</p>
          <p>
          <a href="#" style="color:white"> <i class="fa fa-facebook" style="font-size:25px"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" style="color:white"> <i class="fa fa-linkedin" style="font-size:25px"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" style="color:white"> <i class="fa fa-twitter" style="font-size:25px"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" style="color:white"> <i class="fa fa-instagram" style="font-size:25px"></i></a>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#" style="color:white"> <i class="fa fa-youtube" style="font-size:25px"></i></a>
           </p>

    </div>
    
  
  
  </div> <!--row-->
   
</div> <!--container-->
      
</div> <!--container fluid-->







</body>
</html>
